{% macro poisto_nappain(action, text) %}
<form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
</form>
{% endmacro %}

{% macro poisto_nappain_pieni(action, text) %}
<form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger btn-sm">{{text|default('Poista')}}</button>
</form>
{% endmacro %}

{% macro muokkaus_nappain(link, text) %}
<a href="{{link}}" class="btn btn-default">{{text|default('Muokkaa')}}</a>
{% endmacro %}

{% macro muokkaus_nappain_pieni(link, text) %}
<a href="{{link}}" class="btn btn-default btn-sm">{{text|default('Muokkaa')}}</a>
{% endmacro %}

{% macro tama_toiminto_vaatii_kirjautumisen() %}
<p>Tämä toiminto vaatii kirjautumisen</p>
<a href="http://markokos.users.cs.helsinki.fi/tsoha/kirjautuminen" class="btn btn-success">Kirjaudu sisään</a>
{% endmacro %}

{% macro tama_toiminto_vaatii_adminoikeudet() %}
<p>Tämä toiminto vaatii adminoikeudet</p>
<a href="http://markokos.users.cs.helsinki.fi/tsoha/kirjautuminen" class="btn btn-success">Kirjaudu sisään</a>
{% endmacro %}