{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert label-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}


<h3>{{taskdata.tehtavanimi}}</h3>
<hr>



<ul>
    <li><strong>Kiireellisyys:</strong>{{taskdata.kirjallinenTarkeysaste}}</li>
    <li><strong>Luokkatunnukset:</strong>
        {% for luokka in luokat %}
        <a href="#" class="label label-success">{{luokka.luokkanimi}}</a>
        {% endfor %}
    </li>
    <li><strong>Status:</strong>
        {% if taskdata.tehty %}
        <label class="label label-success">tehty
        {% else %}
        <label class="label label-danger">kesken
        {% endif %}
        </li>
</ul>



    <p>{{taskdata.kuvaus}}</p>
    <hr>
    <p>
        {{forms.poisto_nappain_pieni("#{base_path}/tehtava/#{taskdata.id}/poista")}}
        {{forms.muokkaus_nappain_pieni("#{base_path}/tehtava/#{taskdata.id}/muokkaus")}}
    </p>
{% endblock %}