{% extends "base.html" %}
{% block content %}



  <h1>{{taskdata.tehtavanimi}}</h1>
  
  
  
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Kiireellisyys:</strong>{{taskdata.tärkeysaste}}</li>
    <li><strong>Status:</strong>
        {% if task.tehty %}
            <label class="label label-success">tehty
        {% else %}
        <label class="label label-danger">kesken
        {% endif %}
    </li>
    <li><strong>Luomisaika:</strong>{{luomisaika}}</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    {{taskdata.kuvaus}}
  </p>
{% endblock %}