{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert label-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}


{% if user_logged_in %}
    <h3>Käyttäjän {{user_logged_in.kirjautumisnimi}} muistilista</h3>
    <hr>
    <p>
      <a href="{{base_path}}/tehtava/uusi" class="btn btn-success">Lisää tehtava</a>
    </p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Tehtävän nimi</th>
          <th>Kuvaus</th>
          <th>Kiireellisyys (1-5)</th>
          <th>Status</th>
          <th>Lisäysaika</th>
          <th>Muokkaus</th>
          <th>Poisto</th>
          <th>Muuta statusta</th>
        </tr>
      </thead>

      <tbody>
        {% for task in tasks %}
          <tr>
            <td><a href="{{base_path}}/tehtava/{{task.id}}">{{task.tehtavanimi}}</td>
            <td>{{task.kuvaus}}</td>
            <td>{{task.tarkeysaste}}</td>
            <td>
                {% if task.tehty %}
                  <label class="label label-success">tehty
                {% else %}
                  <label class="label label-danger">kesken
                {% endif %}
            </td>
            <td>{{task.luomisaika}}</td>
            <td>{{forms.muokkaus_nappain_pieni("#{base_path}/tehtava/#{task.id}/muokkaus")}}</td>
            <td>{{forms.poisto_nappain_pieni("#{base_path}/tehtava/#{task.id}/poista")}}</td>
            <td>
                <form method="post" action="{{base_path}}/tehtava/{{task.id}}/tehty" style="display: inline-block;">
                    {% if task.tehty %}
                        <button type="submit" class="btn btn-danger btn-sm">Merkitse tekemättömäksi</button>
                    {% else %}
                        <button type="submit" class="btn btn-success btn-sm">Merkitse tehdyksi</button>
                    {% endif %}
                </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    {{forms.tama_toiminto_vaatii_kirjautumisen()}}
{% endif %}


{% endblock %}