{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän admin muistilista</h1>

  <p>
    <a href="{{base_path}}/suunnitelmat/tehtava/lisaa" class="btn btn-success">Lisää tehtava</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tehtävän nimi</th>
        <th>Kuvaus</th>
        <th>Kiireellisyys (1-5)</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for task in tasks %}
        <tr>
          <td><a href="{{base_path}}/suunnitelmat/tehtava/{{task.id}}">{{task.tehtavanimi}}</td>
          <td>{{task.kuvaus}}</td>
          <td>{{task.tarkeysaste}}</td>
          <td>
              {% if task.tehty %}
                <label class="label label-success">tehty
              {% else %}
                <label class="label label-danger">kesken
              {% endif %}
          </td>
          <td>{{task.luomisaika}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/tehtava/{{task.id}}/muokkaus">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}