{% extends "base.html" %}
{% block content %}
<h1>Muokkaat tehtävää: {{attributes.tehtavanimi}}</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/tehtava/{{attributes.id}}/muokkaus">
    <div class="checkbox">
        <label>
            <input type="checkbox" name="laatikko">
            Tehty
        </label>
    </div>
    <div class="form-group">
        <label>Tehtävän nimi</label>
        <input type="text" name="tehtavanimi" class="form-control" value="{{attributes.tehtavanimi}}">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <input type="text" name="kuvaus" class="form-control" value="{{attributes.kuvaus}}">
    </div>
    <div class="form-group">
        <label>Luokkatunnus</label>
        <select name="luokkatunnus" class="form-control">
            <option></option>
            <option value="1">Kotityöt</option>
            <option value="2">Autoprojekti</option>
        </select>
    </div>
    <div class="form-group">
        <label>Tärkeysaste</label>
        <select name="tarkeysaste" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}