{% extends "base.html" %}
{% block content %}
  <h1>Muokkaat tehtävää: {{attributes.tehtavanimi}}</h1>

  <form method="post" action="{{base_path}}/tehtava/{{attributes.id}}/muokkaus">
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Tehty
      </label>
    </div>
    <div class="form-group">
      <label>Tehtävän nimi</label>
      <input type="text" name ="tehtavanimi" class="form-control" value="{{attributes.tehtavanimi}}">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <input type="text" class="form-control" value="{{attributes.kuvaus}}">
    </div>
    <div class="form-group">
      <label>Luokkatunnus</label>
      <input type="text" class="form-control" value="{{attributes.luokkatunnus}}">
    </div>
    <div class="form-group">
      <label>Tärkeysaste</label>
      <input type="text" class="form-control" value="{{attributes.tarkeysaste}}">
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}